:root{
  --sunny:linear-gradient(0deg, rgba(155,45,253,1) 0%, rgba(34,193,195,1) 100%);
  --rainy: linear-gradient(0deg, rgba(116,115,117,1) 0%, rgba(233,238,238,1) 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* body {
  height: 100%;
} */


.App{
  height: 100vh;
  /* background: var(--sunny); */
 /* overflow: hidden; */
  font-family: public sans, sans-serif;
  color: white;
  position: relative;
}



header {
  width: 100%;
}
.backdrop {
position: fixed;
top: 0;
left: 0;
z-index: 5;
width: 100vw;
height: 100vh;
background: rgba(0, 0, 0, 0.685);
}

.backdrop-hide{
  display: none;
}

.mobile-nav{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  
  /* background-color: pink; */
}

.mobile-nav_items{
   align-items: center;
  display: flex;
  justify-content: space-between;
  
  /* gap: 12rem; */
}

.add {
  font-size: 2rem;
  margin-right: 5px;
  cursor: pointer;
  align-self: flex-end;
}

.search{
  display: flex;
  align-items: center;
  gap: 5px;
}

.modal {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  /* height: 250px; */
  padding-top:  20px;
  padding-bottom: 80px;
  border-radius: 7px;
  width: 250px;
  height: 300px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;

}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  height: 30px;
 visibility: hidden;
  vertical-align: middle;
  margin-left: 5px;
  /* padding-left: 10px; */
}
.line {
  background-color: black;
  height: 2px;
  width: 20px;
}

.card img{
  width: 8rem;
  height: 8rem;
}

.hourly-container{
  width: 90%;
  height: 95px;
  margin: 0 auto;
  display: flex;
  overflow-x: auto;
  gap: 12px;
 
}

/* .time{
  display: flex;
} */

#specific{
  font-size: 15px;
}

.hourly-card{
  height: 75px;
  width: 75px;
  flex-shrink: 0;
  border: solid white;
  border-radius: 5px;
  background:  linear-gradient(to right bottom, rgba(255, 255, 255, 0.171), rgba(255, 255, 255, 0.329));
}

.card{
  text-align: center;
  width: 250px;
  margin: 20px auto;
  border-radius: 8px;
  display: flex;
  justify-content: center;
   /* background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.226), rgba(255,255,255,0.3)); */
  /* border: solid white;  */
}
.forecast {
  margin-top: 1rem auto;
}
.forecast-container {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.226), rgba(255,255,255,0.3));
  /* width: 250px; */
  /* width: 100vw; */
  max-width: 1190px;
  height: 300px;
  margin: 2rem 1rem;
  /* border: solid yellow; */
  overflow-y: auto;
}

.forecast-card {
  border: solid white;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.conditions{
  display: flex;
  align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@media(min-width:600px){

  .forecast-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    height: auto;
    /* overflow: hidden; */
    justify-content: center;
    /* height: 600px; */

  }
  .forecast-card{
    height: 200px;
    flex-shrink: 1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    width: 130px;
  }
}

@media(min-width:715px) {
  .forecast-card{
    width: 160px;
  }
  .forecast h2{
    text-align: center;
  }
  .forecast-container{
    background: transparent;
  }
  .modal{
    width: 360px;
    height: 400px;
  }
  .mobile-nav{
    padding: 8px 0;
  }
}

@media(min-width:865px) {
  .forecast-card{
    width: 190px;
  }
}

@media(min-width:1015px) {
  .forecast-card{
    width: 240px;
  }
  .forecast-container {
    margin: 1rem auto;
  }
}

@media(min-height:1100px) {
  .forecast{
    height: 450px;
    margin-top: 8rem;
  }
  
}